@import "../../global.scss";

.doc {
  margin: 3rem auto;
  max-width: 100rem;
  padding: 0 3rem;
  h5 {
    font-size: 2rem;
  }
}
.todos__lists {
  max-width: 100rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  // ------------ Todo item
  &_item {
    flex-basis: 48%;
    // padding: 2rem 2rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 2px 1px rgba($color: #000000, $alpha: 0.5);
    align-self: baseline;

    .Header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 2rem;
      background-color: #e7f0f9;
      padding: 1rem 2rem;

      label {
        font-size: 15px;
        margin-bottom: 0.5rem;
        display: block;
      }

      .date {
        display: flex;
      }

      .end_date {
        margin-left: 3rem;
      }
      input {
        &:first-child {
          margin-left: 0;
        }
      }
    }

    // ------- Center
    .center {
      padding: 0rem 2rem;
    }
    .title {
      font-size: 18px;
      font-weight: 600;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    input,
    textarea {
      border: none;
      width: 100%;
      background-color: transparent;
      outline: none;
      padding: 1rem 0rem;
    }

    // ---------Footer
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 3rem;
      background-color: #e7f0f9;
      padding: 1rem 2rem;
      .tag_wapper {
        div {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }

        .tag {
          input {
            min-width: 4rem;
            background-color: $--main-color;
            color: $--primery-color;
            display: inline;
            max-height: 1rem;
            text-align: center;
            padding: 1rem 0;
          }
        }
      }

      .icon {
        display: flex;
        gap: 15px;
        padding: 0 0.5rem;

        button {
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .todos__lists {
    // ------------ Todo item
    &_item {
      width: 100%;
    }
  }
}
